# Database
DB_URL=jdbc:postgresql://localhost:5432/keystone_db
DB_USERNAME=postgres
DB_PASSWORD=your_postgresql_password

# JWT
JWT_SECRET=WEYN2/9hxem8JPQ14rA6/fGAJVG31btpBYIgh6aODYF7LMpGLgqzifYn6V6P7/HLwR4PKuht4bpgRf/qNIlSSQ==
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Frontend
VITE_API_BASE_URL=http://localhost:8080/api
